{#
vim: filetype=html
#}

{% extends "layouts/layout.html" %}

{% block content %}
<div class="display-page">
	<video id="display" controls>
		Your browser does not support the video tag.
	</video>
</div>
{% endblock %}

{% block scripts %}
<script>
	const form_result = localStorage.getItem("form_result");
	const display = document.getElementById("display");

	const source = document.createElement('source');
	source.setAttribute('src', `/assets/${form_result}.mp4`);
	source.setAttribute('type', 'video/mp4');

	window.addEventListener("load", (event) => {
		display.appendChild(source);
	});
</script>
{% endblock %}
